* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: black;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#animationContainer, #animationContainer2, #animationContainer3 {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 0px solid #ff0000;
}

#animationContainer {
    box-shadow: 0 0 5px 0px red, inset 0 0 50px 0px red;
}

#animationContainer2 {
    box-shadow: 0 0 5px 0px blue, inset 0 0 50px 0px blue;
}

#animationContainer3 {
    box-shadow: 0 0 5px 0px green, inset 0 0 50px 0px green;
}

.item {
    position: relative;
    display: inline-block;
    background: red;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 12px 0;
}

.item-blue {
    background: blue;
}

.item-green {
    background: green;
}

.move-and-flicker {
	animation-name: moveAndFlicker;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.move-and-swirl {
	animation-name: moveAndSwirl;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

.pulse-and-color-change {
	animation-name: pulseAndColorChange;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-direction: alternate;
}

@keyframes moveAndFlicker {
	0% {
		opacity: 0.5;
		transform: scale(0.8, 0.8) translateY(-10px) translateX(0px);
	}
	50% {
		opacity: 1;
		transform: scale(1.2, 1.2) translateY(0px) translateX(0px);
	}
	100% {
		opacity: 0.5;
		transform: scale(0.8, 0.8) translateY(10px) translateX(0px);
	}
}

@keyframes moveAndSwirl {
	0% {
		opacity: 0.5;
		transform: scale(0.8, 0.8) rotate(0deg);
	}
	50% {
		opacity: 1;
		transform: scale(1.2, 1.2) rotate(180deg);
	}
	100% {
		opacity: 0.5;
		transform: scale(0.8, 0.8) rotate(360deg);
	}
}

@keyframes pulseAndColorChange {
	0% {
		opacity: 0.5;
		transform: scale(0.8, 0.8);
		background-color: green;
	}
	50% {
		opacity: 1;
		transform: scale(1.2, 1.2);
		background-color: yellow;
	}
	100% {
		opacity: 0.5;
		transform: scale(0.8, 0.8);
		background-color: green;
	}
}